body {
  background-color: rgb(82, 82, 82);
}

.App{
  text-align: center;
}

h1{
  color: white;
}

p{
  display: inline;
  font-size: 30px;
  text-transform: uppercase;
}

a{
  text-decoration: none;
  color: black
}